<!DOCTYPE html>
<html lang="zh">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    {% include "style.css" %}
  </style>
  <title>My DD</title>
  <meta property="og:title" content="OVV 的单推记录">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://dd.outv.im/">
  <meta property="og:locale" content="zh_CN">
  <link rel="canonical" href="https://dd.outv.im" />
  <script defer src="https://umami.outv.im/script.js" data-website-id="ab886bef-f41f-4c0e-9682-29014438a4e6"></script>
</head>
<body>
  <h1 class="center">My DD</h1>
  <p class="center">OVV 的<ruby>单推<rt>だれでも大好き</rt></ruby>记录（直至 {{ lastCommitDate }}）。</p>
  <div class="card-container">
    {% for item in items %}
    <div class="card" style="border-left-color: {{ item.theme_color }}">
      <div>
        <div class="card-title center">{{ item.title }}</div>
        <div class="card-subtitle center">{{ item.subtitle }}</div>
        <p class="card-description">{{ item.description }}</p>
        {% if item.link %}
          <a href="{{ item.link }}" target="_blank">更多介绍…</a>
        {% endif %}
      </div>
      <a class="trailer" href="{{ item.trailer.link }}" target="_blank" style="border-color: {{ item.theme_color }}">{{ item.trailer.title }}</a>
    </div>
    {% endfor %}
  </div>
  <footer class="center">
    <a href="data.json">JSON</a>
  </footer>
</body>
</html>
