<!DOCTYPE html>
<html lang="zh">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    {% include "style.css" %}
  </style>
  <title>My DD</title>
  <link rel="canonical" href="https://dd.outv.im" />
</head>
<body>
  <h1 class="center">My DD</h1>
  <p class="center">OVV 的<ruby>单推<rt>だれでも大好き</rt></ruby>记录。</p>
  <div class="card-container">
    {% for item in items %}
    <div class="card" style="border-left-color: {{ item.theme_color }}">
      <div class="card-title center">{{ item.title }}</div>
      <div class="card-subtitle center">{{ item.subtitle }}</div>
      <p class="card-description">{{ item.description }}</p>
      {% if item.link %}
        <a href="{{ item.link }}" target="_blank">更多介绍…</a>
      {% endif %}
      <a class="trailer" href="{{ item.trailer.link }}" target="_blank">{{ item.trailer.title }}</a>
    </div>
    {% endfor %}
  </div>
</body>
</html>