html {
  text-autospace: normal;
}

.center {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin: 20px;
  border: 1px solid #ccc;
  border-left: 5px solid #000; /* Theme color will be applied here */
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-subtitle {
  font-size: 16px;
  color: #777;
}

.card-description {
  margin-top: 10px;
}

.card-links {
  display: flex;
  margin-top: 10px;
  gap: 7px;
}

.trailer {
  margin-top: 10px;
  display: block;
  padding: 5px;
  text-align: center;
  border: solid #777 2px;
}

footer {
  margin-top: 20px;
  color: grey;
  font-size: 0.9rem;
}
